* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;}

html {
	position: relative;
	min-height: 100%;
	font-size: 20px;
}

.wrapper {
	height: 100vh;
	background-color: #000;
}

audio {
	display: none;
}

button {
	background-color: #555;
}

.display {
	width: 500px;
	height: 150px;
	background-color: yellow;
	/* Centering: */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.numbers {
	font-size: 500%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer {
	position: absolute;
	margin-bottom: 0;
}